{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "TMDB_API_KEY": "597eb24bc39938374c88361b49883eea",
    "AZURE_STORAGE_CONNECTION_STRING": ""
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": false
  }
}
